body {
  /*background-color: red;*/
  height: 100%;
  width: 100%;
}

#leftLogo {
  position: fixed;
  top: 0;
  right: 50%;
  /*height: 100%;*/
  /*width: 50%;*/
}

#rightLogo {
  position: fixed;
  top: 0;
  left: 50%;
  /*height: 100%;*/
  /*width: 50%;  */
}