body {
  background-color: #222222;
  height: 100%;
  width: 100%;
  font-family: raleway;
  color: #DDDDDD;
}

#leftLogo {
  right: 50%;
}

#rightLogo {
  left: 50%;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.cover.ng-leave {
  animation: 1s initial-fade-in;
}

@keyframes initial-fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.logo-wrapper {
  background-color: #EEEEEE;
  /*background-color: #55FF55;*/
}

.logo-wrapper-left {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.logo-wrapper-left > svg {
  float:right;
}

.logo-wrapper-right {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0px;
  right:0px;  
}

.logo-wrapper-right > svg {
  float:left;
}

/*.angular-svg-logo {
  position: fixed;
  top: 0;
}*/

.logo-wrapper-left.ng-hide-add {
  animation: .5s fade-out-left cubic-bezier(.7,.2,.8,.3);
  /*animation: .5s fade-out-left linear;*/
}

.logo-wrapper-left.ng-hide-remove {
  animation: .5s fade-in-left cubic-bezier(.2,.7,.3,.8);
  /*animation: .5s fade-in-left linear;*/
}

.logo-wrapper-right.ng-hide-remove {
  animation: .5s fade-out-right cubic-bezier(.2,.7,.3,.8);
  /*animation: .5s fade-out-right linear;*/
}

.logo-wrapper-right.ng-hide-add {
  animation: .5s fade-in-right cubic-bezier(.7,.2,.8,.3);
  /*animation: .5s fade-in-right linear;*/
}

@keyframes fade-out-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fade-out-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@media (min-width: 600px) {

  .cookbook-navbar > a {
    text-decoration: none;
    height: 56px;
    text-align: center;
    color: #333333;
    line-height: 50px;
    font-size: 20px;
    float: left;
    display: block;
    background-color: transparent;
    width: 25%;
    /*margin-right: -5px;*/
  }

}

@media (max-width: 600px) {
  .cookbook-navbar > a {
    text-decoration: none;
    height: 56px;
    text-align: center;
    color: #333333;
    line-height: 50px;
    font-size: 24px;
    float: left;
    display: block;
    background-color: transparent;
    width: 100%;
    /*margin-right: -5px;*/
  }
}

.cookbook-navbar {
  width: 100%;
  /*min-width: 500px;*/
  /*width: inherit;*/
  margin-top: 20px;
  height: 56px;
  /*background-color: white;*/
}



.cookbook-navbar > a:hover {

}

div.navbutton-text {
  width: 100%;
  /*width: 200px;*/
  /*margin: 0 auto;*/
  text-align: center;
}

div.navbutton-text.active {
  border-bottom: 1px solid #B72933;
}

div.cookbook-navbar span {
  opacity:0;
  animation: .2s hover-out-dormant linear;
}

div.cookbook-navbar span.primary-cell {
  opacity:1;
  color: #999999;
  animation: .2s hover-out-dormant-primary linear;
}

div.cookbook-navbar a:hover div.navbutton-text span {
  opacity:1;
  color: #555555;
  animation: .2s hover-in-dormant linear;
}

div.cookbook-navbar a:hover div.navbutton-text span.primary-cell {
  color: #BBBBBB;
  animation: .2s hover-in-dormant-primary linear;
}

div.cookbook-navbar a:hover div.navbutton-text.active span {
  opacity:1;
  color: #EEEEEE;
  animation: .2s hover-out-active linear;
}

div.cookbook-navbar a:hover div.navbutton-text.active span.primary-cell {
  color: #EEEEEE;
  animation: .2s hover-out-active-primary linear;
}

div.navbutton-text.active span {
  opacity:1;
  color: #999999;
  animation: .2s hover-in-active linear;
}

div.navbutton-text.active span.primary-cell {
  color: #EEEEEE;
  animation: .2s hover-out-active-primary linear;
}

@keyframes hover-in-active-primary {
  from {
    color: #EEEEEE;
  }
  to {
    color: #EEEEEE;
  }
}

@keyframes hover-out-active-primary {
  from {
    color: #EEEEEE;
  }
  to {
    color: #EEEEEE;
  }
}

@keyframes hover-in-dormant-primary {
  from {
    color: #999999;
  }
  to {
    color: #BBBBBB;
  }
}

@keyframes hover-out-dormant-primary {
  from {
    color: #BBBBBB;
  }
  to {
    color: #999999;
  }
}

@keyframes hover-in-active {
  from {
    color: #EEEEEE;
  }
  to {
    color: #999999;
  }
}

@keyframes hover-out-active {
  from {
    color: #999999;
  }
  to {
    color: #EEEEEE;
  }
}

@keyframes hover-in-dormant {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hover-out-dormant {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




.navbutton-text > span {
  /*width: 33%;*/
  padding: 0 5px;
  /*float: left;*/
  /*text-align: center;*/
}

.cookbook-navbar > a:visited {
  /*text-decoration: none;*/
}

.cookbook-navbar > a > div {
  float: left;
}
.cookbook-navbar > a > div.navbutton-text {
  padding-left: 10px;
  padding-right: 10px;
  /*font-weight: bold;*/
}

.border-strip {
  position: fixed;
  z-index: -1;
  background-color: #EEEEEE;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.outer-border-strip {
  position: fixed;
  z-index: -1;
  background-color: #444444;
  width: 100%;
  height: 60px;
  margin-top: 15px;
}

.pub-cover {
  /*display: block;*/
  width: 48%;
  margin: 0px 1% 50px 1%;
  float: left;
  /*width: 30%;*/
  /*margin: 20px;*/

}

.headshot {
  float: right;
  width: 40%;
  margin: 0 20px 20px 20px;
}

.pub-desc {
  float: left;
}

.pub-title {
  text-align: center;
  width: 100%;
}


.purchase-button-area {
  /*top: 0px;*/
  /*float: left;*/
  width: 100%;
}

.purchase-button-area a {
  margin: 10px;
}

.purchase-button-area a:hover {
  text-decoration: none;
}

.purchase-button-area div {
  border: 3px solid transparent;
  background-color: #333333;
  color: #E88746;
  padding: 15px;
  /*height: 60px;*/
  font-size: 32px;
  /*line-height: 60px;*/
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.purchase-button-area div:hover {
  border: 3px solid #E88746;
}

div.emphasis {
  width: 100%;
  padding: 0px 80px;
}

.friz-content h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
}

.friz-content h2 {
  font-size: 2.7em;
  margin-bottom: 50px;
}

.friz-content p {
  font-size: 1.8em;
  margin-bottom: 50px;
}

.friz-content li {
  font-size: 24px;
}

.friz-content ul {
  /*margin-bottom: 50px;*/
}

.friz-content div.emphasis h2 strong {
  color: #B72933;
}

.friz-content div.emphasis a, 
.friz-content div.emphasis a:hover, 
.friz-content div.emphasis a:visited {
  color: #B72933;
}

.table-of-contents ul {
  list-style-type: none;
}

.table-of-contents > ul > li > span {
  color: #B72933;
  font-size: 28px;
}

.table-of-contents ul li ul li ul li {
  display: none;
}
/*
h1.buybottons a {
  color: #B72933;
}*/

h1.buybuttons div {
  text-align: center;
  /*line-height: 150px;*/
  padding: 50px;
  width: 100%;
  min-height: 150px;
  border: 3px solid #BBBBBB;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  text-decoration: none;
}


/*h1.buybuttons a:visited,*/
h1.buybuttons a:hover {
  text-decoration: none;
}

/*h1.buybuttons a:visited div,*/
h1.buybuttons a:hover div {
  color: white;
  background-color: #E52A3A;
  text-decoration: none;
}

.bio h3 {
  font-size: 32px;
  margin-bottom: 50px;
}

.bio-headshot {
  float: right;
  width: 30%;
  margin: 10px;
}

.bio-meetup {
  float: left;
  width: 40%;
  margin: 10px;
}

.copyright {
  bottom:0; 
  width:100%; 
  text-align: center;
  font-size: 12px;
  color: #888888;
  margin-top: 100px;
}
