<span class="pub-title">
  <h1>AngularJS Web Application Development Cookbook</h1>
</span>
<div class="bio">
  <hr />
  <img class="bio-headshot" src="/images/headshot.jpg" />
  <h3>Matt Frisbie has been heavily involved in the AngularJS community for over two years. He first got involved by writing several free curricula for AngularJS beginners, which were a smash hit. </h3>
  <h3>Although AngularJS has been kind to him, he classifies himself as a full-stack engineer with experience in Node, Rails, and Django. He is a 2012 graduate of the University of Illinois Urbana-Champaign in computer engineering.</h3>
  <img class="bio-meetup" src="/images/meetup.jpg" />
  <h3>He has primarily worked as an early startup engineer, and has significant experience in the education technology, open knowledge, and delivery logistics industries.</h3>
  <h3>In addition to publishing the book, he also authored an AngularJS video series, does webcasts for O'Reilly Media, and speaks at frontend developer meetups.</h3>
</div>
<hr style="clear:both" />
<div style="text-align: center" class="emphasis">
  <h1>Learn more about him at <a href="mattfriz.com">mattfriz.com</a></h1>
</div>
<hr />