<span class="pub-title">
  <h1>AngularJS Web Application Development Cookbook</h1>
</span>
<hr />
<div class="emphasis">
  <h1 class="buybuttons">
  <a href="https://www.packtpub.com/web-development/angularjs-web-application-development-cookbook">
    <div>Get the paperback/eBook on packtpub.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook/dp/1783283351">
    <div>Get the paperback on amazon.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook-ebook/dp/B00RP13C2K/">
    <div>Get it for Kindle on amazon.com</div>
  </a>
  </h1>
</div>