<span class="pub-title">
  <h1>AngularJS Web Application Development Cookbook</h1>
  <h2></h2>
</span>
<hr />
<h1><strong>Purpose</strong></h1>
<hr />
  <!-- <img class="pub-cover" src="/images/front-cover.jpg" />
  <img style="clear: both" class="pub-cover" src="/images/back-cover.jpg" /> -->


<div class="emphasis">
  <h2></h2>
  <p>When I set out to write this book, I made sure that I was always creating content with the following goals in mind:</p>
  <h2>Cover the <strong>most important, challenging, and neglected topics</strong> in AngularJS.</h2>
  <p><strong>Nobody wants or needs a book with the same old crap. </strong>This book features chapters on AngularJS performance, promises, testing, animations, advanced directive patterns, and the newest features from the latest release.</p>
</div>
<div class="emphasis">  
  <h2>Demonstrations should be <strong>built around the real software engineering world</strong>.</h2>
  <p><strong>Contrived examples aren't helping anybody.</strong> Say goodbye to "Hello, World!". Each recipe in this book stems from concrete scenarios and hurdles that AngularJS developers will likely encounter while working with the framework.</p>
</div>
<div class="emphasis">
  <h2>Optimize for the <strong>learning mind</strong>.</h2>
  <p><strong>Uncommon or unobvious syntax, confusing names, and complicated examples only serve to confuse the reader.</strong>Recipe syntax is uncomplicated and consistent. The reader will never encounter code where the context is ambiguous, or where hand-wavy assumptions are expected to be made without being explicitly stated.</p>
</div>
<div class="emphasis">
  <h2>Leave no stone unturned, and <strong>explain everything</strong>.</h2>
  <p><strong>Never allow the reader to finish an example frustrated or confused.</strong>The book's recipes are designed to be consistent and congruent. Recipes are able to be consumed independently, so every recipe will assume the reader needs every relevant component explained.</p>
</div>
<div class="emphasis">
  <h2>Make the path to actual code execution and playing around with examples <strong>as easy as possible</strong>.</h2>
  <p><strong>Learning does not truly begin until the reader can use the code outside of the book's pages.</strong> Every single example is tied to a functioning JSFiddle with links right in the book. There's no need to download code from the publisher website or set up an environment, you can visit the URL at the end of the recipe and start manipulating working code immediately.</p>
</div>
<hr />
<h1>Critical Acclaim</h1>
<hr />
<h2></h2>
<div class="emphasis">
  <h2>"I’m happy to say I’ve finally found a book I can recommend."</h2>
  <h2>"...this is one of the better Angular books I’ve read in the last year. If you already know some Angular, and are looking to take your skills to the next level, you should add this book to your reading list."</h2>
  <p>-Jeff Cunningham, <a href="http://jmcunningham.net/2015/01/03/book-review-angularjs-web-application-development-cookbook/">Book Review: AngularJS Web Application Development Cookbook</a></p>
</div>
<hr />
<h1>Chapter List</h1>
<hr />
<h2></h2>


<h2 id="toc">Table of Contents</h2>
